<nav
  class="flex flex-col sm:flex-row w-full justify-between items-center">
  <div
    class="w-full self-start sm:self-center flex flex-row sm:flex-none flex-no-wrap justify-between items-center">
    
    <a href="/" class="no-underline flex flex-wrap items-center logo-container">
      <img src="/img/carcodeio-logo-dark.svg" class="float-left h-10 py-1" alt="carcode.io logo">
    </a>
  </div>
</nav>
